.app {
  text-align: center;
}

.total {
  margin: 30px 50px 40px;
  text-align: left;
}
span{
  margin-right: 10px;
}
.text1 {
  display: block;
  width: 100%;
  height: 450px;
  resize: none;
  overflow: auto;
  border-bottom: 0px;
}
.text2 {
  display: block;
  width: 100%;
  height: 30px;
  resize: none;
  overflow: auto;
}

.text3 {
  display: block;
  width: 100%;
  height: 420px;
  resize: none;
  overflow: auto;
  background-color: whitesmoke;
  border-right: 1px solid gainsboro;
}

.translate {
  border: gainsboro 1px solid;
  height: 60px;
  padding-top: 13px;
}

.row {
  padding-left: 12px;
  padding-right: 12px;
}

#inner {
  padding-right: 0px;
  padding-left: 0px;
}

#hr {
  margin: 0px;
}

.langselect {
  font-size: 20px;
  font-weight: bolder;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 600%;
  border: gainsboro 1px solid;
  padding: 0px;
  font-size: 20px;
}

.dropdown-content a {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#translate-btn {
  float: right;
  width: 100%;
  height: 30px;
  padding: 0px 0px 0px 0px;
}

#MAKEDB,#MAKEFUN{
  padding: 2px 2px 2px 2px;
  height: 30px;
  width: 100%;
  padding-left: 0px;
  padding-left: 0px;
}
#database_name,#function_name{
  width: 100%;
  padding-left: 0px;
  padding-left: 0px;
}
#right_row{
  padding-left: 0px;
  padding-left: 0px;
}
#FUN_INPUT,#DB_INPUT{
  padding-right: 0px;
}

#DB_BUT,#FUN_BUT{
  padding-left: 0px;
}
#FUN_BUT{
  padding-right: 0px;
}
#QUERY_INPUT{
  padding-right: 0px;
  
}
#QUERY_BUTTON{
  padding-left: 0px;
}