.app{
  text-align: center;
}
.lang{
  margin: 30px 80px 60px; 
  text-align: left;
}
.tras{
  border: gainsboro 1px solid;
  height: 60px;
  padding-top: 13px;
}
.row{
  padding-left: 12px;
  padding-right: 12px;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; 
  width: 100%;
  height: 400px;
}

div[contenteditable=true] {
  border : 1px solid gainsboro;
  color : #333;
  font-size: 17px;
  padding: 5px;
  height: 100%;
}

#inner{
    padding-right: 0px;
    padding-left: 0px;
}

#second-box{
  background-color: whitesmoke;
  pointer-events: none;
}
#rotatebtn{
  background-color:white;
  border-radius: 50%;
  border: 0px solid white;
  padding-bottom: 10px;
  height: 40px;
  float: right;
}
#hr{
  margin: 0px;
}
.langselect{
  font-size: 20px;
  font-weight: bolder;
}

.dropdown{
  position : relative;
  display : inline-block;
}

.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; 
  background-color:white;
  width: 600%;
  border: gainsboro 1px solid;
  padding: 0px;
  font-size: 20px;
}
.dropdown-content a{
  display : block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#translate-btn{
  float: right;
  width: 100%;
}
.close{
  float: right;
}


